* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fafafa;
}

/* MAIN LAYOUT */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 50px;
}

/* LEFT PHONE IMAGE */
.phone-img img {
  width: 380px;
}

/* LOGIN BOX */
.login-box {
  width: 350px;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 40px 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 180px;
  margin: 50px auto 30px auto;
  display: block;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
}

.login-btn {
  width: 100%;
  padding: 8px;
  background-color: #0095f6;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.or {
  margin: 20px 0;
  font-size: 13px;
  color: gray;
}

/* FACEBOOK LOGIN */
.fb-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #385185;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

.forgot {
  font-size: 12px;
  color: #00376b;
}

/* - BOX */
.signup-box {
  margin-top: 10px;
  width: 350px;
  border: 1px solid #dbdbdb;
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-box a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

/* SIGNUP CARD */
.signup-card {
  width: 350px;
  background: white;
  border: 1px solid #dbdbdb;
  /* padding: 40px 30px; */

  text-align: center;
  /* margin: auto; */
}

.signup-subtitle {
  color: #8e8e8e;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* FACEBOOK SIGNUP */
.fb-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px;
  /* background: #0095f6; */
  color:#385185;                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid rgb(225, 225, 231) ;
}   

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #8e8e8e;
  margin: 15px 25px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dbdbdb;
}

.divider span {
  padding: 0 10px;
}

/* INPUTS */
.signup-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: #fafafa;
}
.input-btn{
    padding: 10px;
}
/* BUTTON */
.signup-btn {
  width: 90%;
  padding: 8px;
  background-color: #0095f6;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

/* TERMS */
.terms {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 15px;
}

/* LOGIN LINK */
.login-redirect {
  margin-top: 20px;
  font-size: 14px;
}

.get-app {
  text-align: center;
  margin-top: 20px;
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.store-buttons img {
  height: 40px;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  color: #8e8e8e;
}

.footer-links {
  margin-bottom: 10px;
}

.page-center{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card{
  margin-top: 10px;
}